1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
fileWithPath = "test.txt"
with open(fileWithPath, 'w') as f:
  f.write(test1)


2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
test2 = ''
with open(fileWithPath, 'r') as f:
  test2 = f.read()

print(f'test1 and test are equal {test1 == test2}')

test1 and test are equal True


3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [8]:
lines = "title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\nPerdido Street Station,China Miéville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992"
booksCsv = "books.csv"
with open(booksCsv, 'w') as f:
  f.write(lines)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [23]:
import sqlite3
conn = sqlite3.connect('books.db')
query = """
          CREATE TABLE books(
            title text,
            author text,
            year int
          )
        """
conn.execute(query)

5. Read books.csv and insert its data into the book table.

In [25]:
import pandas as pd
booksDf = pd.read_csv(booksCsv)
for row in booksDf.index:
  title = booksDf['title'][row]
  author = booksDf['author'][row]
  year = booksDf['year'][row]
  conn.execute(f'insert into books(title, author, year) \
                 values(\'{title}\', \'{author}\', {year})')

6. Select and print the title column from the book table in alphabetical order.

In [29]:
selectQuery = "Select title from books order By title"
out = conn.execute(selectQuery)

for row in out:
  print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [30]:
selectQuery = "select * from books order by year"
out = conn.execute(selectQuery)
for row in out:
  print(f"{row[0]} {row[1]} {row[2]}")

The Weirdstone of Brisingamen Alan Garner 1960
Small Gods Terry Pratchett 1992
Perdido Street Station China Miéville 2000
Thud! Terry Pratchett 2005
The Spellman Files Lisa Lutz 2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [40]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect, text
engine = sqlalchemy.create_engine("sqlite:////content/books.db")
with engine.connect() as con:
  rows = con.execute(text('SELECT * FROM books'))
  for i in rows:
      print(i)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [42]:
! pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.3/240.3 kB 5.1 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2 (from redis)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5

In [ ]:

import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')






10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)