1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [1]:
guess_me = 7
if guess_me < 7:
  print("too low")
elif guess_me > 7:
  print("too high")
else:
  print("just right")

just right

2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [2]:
start = 1
loop = True
while(loop):
  if start > guess_me:
    print("oops")
    loop = False
  elif guess_me > start:
    print("too low")
  else:
    print("found it!")
  start+=1

too low
too low
too low
too low
too low
too low
found it!
oops

3. Print the following values of the list [3, 2, 1, 0] using a for loop.

In [5]:
values = [3,2,1,0]
for i in values:

  print(i)

3
2
1
0

4. Use a list comprehension to make a list of the even numbers in range(10)

In [7]:
evenList = [even for even in range(0,10,2)]
evenList

[0, 2, 4, 6, 8]

5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [8]:
squareDict = {
    key: key*key for key in range(10)
}
squareDict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}




6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [9]:
oddSet = {odd for odd in range(1,10,2)}

oddSet

{1, 3, 5, 7, 9}

7. Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [10]:
string_gen = ("GOt "+ str(num) for num in range(10))
for strg in string_gen:
  print(strg)

GOt 0
GOt 1
GOt 2
GOt 3
GOt 4
GOt 5
GOt 6
GOt 7
GOt 8
GOt 9

8. Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [11]:
def good():
  return  ['Harry', 'Ron', 'Hermione']

good()

['Harry', 'Ron', 'Hermione']

9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [13]:
def get_odds():
  for i in range(1,10,2):
    yield i

oddsObj = get_odds()
printValue = 0
for i in range(1,4):
  printValue = next(oddsObj)

print(printValue)

5

10. Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

In [14]:
class OopsException(Exception):
  pass

def expRaise(a):
  if a<0:
    raise OopsException;

try:
  expRaise(-1)
except OopsException:
  print("Caught an oops")

Caught an oops






11. Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

In [15]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']

movies = dict(zip(titles,plots))
movies

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}